[submodule "bundle/wombat256"]
	path = bundle/wombat256
	url = git@github.com:jinfield/wombat256.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
